.intro{
    font-weight: bolder;
    color:#7f1d1d;
    background-color: #64748b;
}
.housecard{
    font-weight: bolder;
    color:brown
}
.housecard label{
    font-family:fantasy;
}
.housecard input, .housecard select{
    border-radius: 7px;
    height: 50px;
    color: rgb(3, 5, 7);
    font-weight: bolder;
}
